// 반응형
@mixin responsive($break-point) {
    @if($break-point == mobile-screens) {
        @media screen and (min-width:$break-mobile) {
            @content;
        }
    }

    @else if($break-point == small-tablet-screens) {
        @media screen and (min-width:$break-small-tablet) {
            @content;
        }
    }

    @else if($break-point == medium-tablet-screens) {
        @media screen and (min-width:$break-medium-tablet) {
            @content;
        }
    }

    @else if($break-point == large-tablet-screens) {
        @media screen and (min-width:$break-large-tablet) {
            @content;
        }
    }

    @else if($break-point == desktop-screens) {
        @media screen and (min-width:$break-desktop) {
            @content;
        }
    }
}


// 수평 가운데 정렬
@mixin pos-center-x($type: absolute) { 
    @if($type == fixed or $type == absolute ){
        position: $type;
        left: 50%;
        transform: translateX(-50%);
        @content;
    }
}


// 수직 가운데 정렬
@mixin pos-center-y($type: absolute) { 
    @if($type == fixed or $type == absolute ){
        position: $type;
        top: 50%;
        transform: translateY(-50%);
        @content;
    }
}


// 수직수평 가운데 정렬
@mixin pos-center($type: absolute) { 
    @if($type == fixed or $type == absolute) {
        position: $type;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @content;
    }
}


// 특정 반응형 지정
@mixin Respon_non($screen_size) {
    display: block;

    @include responsive($screen_size) {
        display: none;
    }
}

// moon btn 
@mixin moon_btn_back($path:'../image/icon/button/',$moonColor,$format:".png") {
    background: url("#{$path}#{$moonColor}#{$format}") no-repeat;
    background-size: inherit;
    background-position: left;
}

// cloud
@mixin cloud_color($path2:'../image/icon/button/',$cloudColor,$format2:".png") {
    position: fixed;
    bottom: 30px; right: 20px;
    width: 120px;
    height: 100px;
    animation: cloud_move 1s infinite;
    background: url("#{$path2}#{$cloudColor}#{$format2}") no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 9999;

    @include responsive(desktop-screens) {
        top: 20%; right: 80px;
    }
}
