// *** 중단점 ***
$break-mobile: 480px;         // 320~559 
$break-small-tablet: 768px;   // 600~ 900 
$break-medium-tablet: 900px;  // 900~1024 
$break-large-tablet: 1024px;  // 1024~1799 
$break-desktop: 1800px;       // 1800~


// *** 폰트 크기 ***
$title-font-size: 4.8rem;       // 제목
$sub-title-font-size: 4rem;   // 파트별 제목
$protfolio-title-font-size: 3.6rem; // 본문 안의 제목
$sub-font-size: 2rem;     // 서브 강조 메뉴
$text-font-size: 1.8rem;        // 본문
$mini-text-font-size: 1.4rem;   // 작은 본문


// *** 폰트 종류 ***
$kor-font: 'Pretendard','맑은 고딕';
$point-font: 'InkLipquid';


// *** 컬러 ***
$gray-bg: #eee;
$gray-bg-sub: #e1e1e1;
$gray-font: #b2b2b2;
$main-color: #5a7cb1;
$point_yellow: #ffeb7f;
$night_bg: #0a121e;